# Offline Server
# ==============
#
# This is the configuration for the offline server.
# The following variables say which version to use
# and where to install.
offline_server_root="/opt/offline-server"
offline_server_git_https=https://github.com/cdpoffline/offline-material.git
offline_server_git_ssh=git@github.com:cdpoffline/offline-material.git


