#
# Repositories
# ============
#
# A git repository can be specified like this:
#
#    git <git url>
#      location <path to the repository including the folder>
#      branch <branch>
#      owner <the user or group owning the repository>
#      sync [<the message for the synchonization>]
#
# - "git" is required.
#   It must be folowed by the reposotiry git url.
# - "location" is required.
#   It must be followed by a path to the repository.
#   This path includes the repository folder.
# - "branch" is optional.
#   It must be followed by the branch or tag to check out.
#   If it is not specified, the default branch of the git repository is used.
# - "owner" is optional.
#   It must be followed by the user or group who should own the repository.
#   If it is not specified, the variable "default_owner_for_repositories"
#   is used which must be specified in the beginning.
# - "sync" is optional.
#   It can be followed by a commit message to use for commits.
#   It uploads the new commits.
#   If no commit message is given, the variable "default_sync_message" is used,
#   see below.
#

# The default owner, see the "owner" option above.
default_owner_for_repositories="root"
# The default message for synchronization commits. See the "sync" option above.
default_sync_message="Automatic commit on `hostname`."
# The `git config --global user.name` used for sync commits. 
git_user_name="CoderDojoOS"
# The `git config --global user.email` used for sync commits. 
git_user_email="coderdojoos-setup"'@'"gmail.com"

