#
# SSH
# ===
#
# This is the configuration for ssh.
# Each computer has its own ssh key.
# They can be used to sync git repositories.
#
# This is the location of the keys:
ssh_key="/root/.ssh/id_rsa"
ssh_public_key="/root/.ssh/id_rsa.pub"

# Some hosts must be accepted for ssh to work.
# Input the host names into ssh_known_hosts.
# This example accepts all the keys provided by github and gitlab:
#ssh_known_hosts="github.com gitlab.com"
ssh_known_hosts=""
ssh_known_hosts_file="/root/.ssh/known_hosts"

# This is the e-mail the public key will be sent to when created.
# You can specify multiple receivers with a comma.
send_public_keys_to_email=""
# The subject of the email
subject="New Public Key from `hostname`"
# Some text in the email
description="Hi,

A new ssh key has been generated for `hostname`.
Please view it below.
"

# This is the configuration for the email server.
# You can leave this until somebody hacks it.
smtp_server="smtp.gmail.com:587"
smtp_login="coderdojoos.setup@gmail.com"
email_from="coderdojoos.setup@gmail.com"
smtp_password='qH<\M$S?''<tZfp'""'mNR7Q+>nDZ?G'
email_program_description="CoderDojoOS automatic ssh-key notification."
ssh_key_receivers_file="$coderdojoos_root/logs/ssh_key_was_sent_to.log"
