#
# Create Symbolic Links
# =====================
#
# This config file allows you to create symbolic links to many locations.
# If the place of the link is used by a file or folder, 
# this file or folder is copied to where the link points to.
#
# To create symlinks, you can do the following:
#
#     file /dev/null
#     link /home/user1/null
#     link /home/user2/null
#     link /home/user3/null
#
# This creates a link to the file /dev/null with the name "null" in the
# directories of the users user1, user2 and user3.
# Instead of "file" you can also use "folder".
