# Create users on the system
# ==========================
#
# In order to add a new user "coderdojo"
# with the password "coderdojo",
# you can use this configuration:
#
#    user "coderdojo"
#    password "coderdojo"
#    groups "sudo" "dialout"
#
# The last command allows the user to have root rights (sudo)
# and access the serail ports for Arduino (dialout).
#
# You can add more users after this in the same way.
#
