# This is the variable for the homepage
homepage=https://coderdojopotsdam.github.io

# This is for opera. To add this homepage,
# set it as default homepage in opera and
# copy the correct value from "urls_signature"
# from .config/opera/Preferences
urls_signature=XunzeXhkToGKRY1+Zf98KY0skksrNYV2vciHYl4IKwI2De5OKDgrUU1Z5Q4UB8vo
