#
# Repositories of CoderDojoPotsdam
#

git https://github.com/CoderDojoPotsdam/organize.git
  branch master
  owner coderdojo
  location /home/coderdojo/organize

git git@github.com:CoderDojoPotsdam/projects.git
  sync "Automatic commit on `hostname`"
  owner coderdojo
  location /home/coderdojo/projects

