folder "/home/coderdojo/projects"
  link "`user-dir coderdojo DESKTOP`/Alles hier speichern."

folder "/home/coderdojo/projects/Java"
  link "/opt/hamstermodell/1.8/hamstersimulator-v29-03-java8/Programme/"
  link "/opt/hamstermodell/1.7/hamstersimulator-v29-01-java7/Programme/"

folder "/home/coderdojo/projects/Python"
  link "/home/coderdojo/PycharmProjects"

folder "/home/coderdojo/projects/Scratch Projects"
  link "/home/coderdojo/Scratch"
  link "`user-dir coderdojo DOCUMENTS`/Scratch Projects"
